<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>El Blog de feltoxXx</title>
</head>
<body>
	<div>
		<h1><a href="/">Paseando Blog</a></h1>
	</div>

	
	{% for post in posts %}
	<div>
		<p>publicado: {{ post.published_date }}</p>
		<h2><a href="">{{ post.title }}</a></h2>
		<p>{{ post.text|linebreaksbr }}</p>
		<!--|linebreaksbr está pasando el texto de los post a través 
		de un filtro para convertir saltos de línea en párrafos. -->
	</div>
	{% endfor %}
</body>
</html>